<%- include('header', {title: 'Profile'}) -%>
<h2>Hi <%= user.username %> </h2>
<h3>Your current point total is <%= user.totalPoints %></h3>
<form action="/save" method="post">
    <label for="points">Points accumulated today:</label>
    <input type="number" class='points-input' name="points" value=0 readonly>
    <br>
    <input type="submit" value="Save today's progress">
</form>
<p>Note: your points will be increased based on the amount of time you took to solve a certain problem</p>
<p>Your progress won't be saved if you leave this tab without saving!</p>
<p><span class="first-num">0</span><span class="operator">+</span><span class="last-num">0</span></p>
<button class="btn btn-1">0</button><button class="btn btn-2">0</button><button class="btn btn-3">0</button>
<br>
<button class="ask-btn">Generate a maths question</button>
<p><span class="time-status">Time left to solve: </span><span class="time-left">4.00</span> s</p>
<br>
<form action="/logout" method="GET">
    <button type="submit">Log Out</button>
</form>
<%- include('footer') -%>