<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>
    <body>
        <form action="/save" method="post">
            <label for="points">Points accumulated today:</label>
            <input type="number" name="points" value=0 readonly>
            <br>
            <input type="submit" value="Save today's progress">
        </form>
        <button class="points-btn">Press this button to increase your points</button>
        <p>Note: your points will be increased on a random basis, anywhere from 0.1 to 1 point per click</p>
    </body>
</html>