<%- include('header', {title: 'Log in'}) -%>
<h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="username" id="username" name="username" required autocomplete="username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required autocomplete="new-password">
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
<%- include('footer') -%>