<%- include('header', {title: 'Register'}) -%>
<div class="auth-form">
  <form action="/register" method="POST">
    <h1>⨊ Register</h1>
    <div class="auth-form-field">
      <label for="username">√ Username</label>
      <br>
      <input type="text" id="username" name="username" required autocomplete="username">
    </div>
    <div class="auth-form-field">
      <label for="password">√ Password</label>
      <br>
      <input type="password" id="password" name="password" required autocomplete="new-password">
    </div>
    <button type="submit">Register</button>
  </form>
  <a href="/login">Login</a>
</div>
<%- include('footer') -%>