/* Universal styling */

* {
    font-family: 'PT Sans', sans-serif;
    color: #189ae4;
    font-weight: 700;
}

body {
    margin: 0px;
    background-color: #2b2a2a;
}

/* Styling title section */

.title {
    width: 90%;
    margin: 20px auto 10px;
    font-size: 2.5rem;
}

h3 {
    margin-left: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #008800;
    cursor: pointer;
}

/* Styling login and register forms */

.auth-form {
    margin: 0 auto;
    width: 90%;
    font-weight: 700;
}

.auth-form h1 {
    font-size: 2rem;
    margin: 20px 0;
}

.auth-form button {
    margin: 10px 0 25px;
    padding: 6px 20px;
    background-color: #2b2a2a;
    border: 3px solid #189ae4;
}

.auth-form input {
    padding: 5px 10px;
    margin: 20px 0;
    color: black;
}

/* Styling game */

.game-section {
    width: 90%;
    margin: 0 auto;
}

.game-section a {
    font-size: 1.25rem;
}

.game-section h3 {
    margin: 10px 0;
}

.question {
    font-size: 1.5rem;
}

.question-status {
    font-size: 1.5rem;
}

.btn {
    width: 70px;
    margin-bottom: 15px;
    height: 30px;
    background-color: #2b2a2a;
    border: 2px solid #189ae4;
}

.ask-btn {
    background-color: #2b2a2a;
    border: 4px solid #189ae4;
    padding: 8px 24px;
}

/* Styling the point tracker */

.point-tracker {
    margin: 20px 0;
    font-size: 1.25rem;
}

.point-tracker input {
    background-color: #2b2a2a;
    border: none;
    font-size: 1.25rem;
}

.point-tracker button {
    margin-top: 10px;
    padding: 6px 20px;
    font-size: 1.1rem;
    background-color: #2b2a2a;
    border: 3px solid #189ae4;
}

/* Style rules section */

.rules {
    width: 90%;
    margin: 0 auto;
    font-size: 1.25rem;
}

/* Style profile section */

.profile-section {
    width: 90%;
    margin: 0 auto;
}

.log-out {
    padding: 6px 20px;
    background-color: #2b2a2a;
    color: crimson;
    border: 3px solid crimson;
    margin-top: 50px;
}

/* Styling footer */

footer {
    margin: 40px auto;
    width: 90%;
    font-size: 1.25rem;   
}

@media (max-width: 400px) {
    .title-icon {
        font-size: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .auth-form h1 {
        font-size: 1.25rem;
    }
}